<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html lang='ja' xml:lang='ja' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='application/xhtml+xml; charset=UTF-8' http-equiv='Content-Type' />
    <title>
      Yamaokaya Coupon
    </title>
  </head>
  <body style='width:100%;padding:0px;margin:0px;'>
  	<%if !@expired%>
	    <img src='http://assets.coupon.yamaokaya.com/<%=@coupon_code%>.gif' style='width:100%;' width='100%' />
  	<%else%>
	    <img src='http://assets.coupon.yamaokaya.com/expired.gif' style='width:100%;' width='100%' />
  	<%end%>
  </body>
</html>
